@media (prefers-color-scheme: dark) {
	body {
		background-color: #191919;
		color: #efefef;
	}

	.coloredbody {
		background-color: #0f0f0f;
	}

	.darkbody {
		background-color: #0f0f0f;
	}

	td a {
		color: #fff;
	}

	.header, tr:nth-child(even) {
		background-color: #222;
	}

	.megaicon {
		filter: invert(1);
	}
	
	.noinvert {
		filter: invert(0) !important;
	}

	.tripcontainer {
		color: #efefef;
	}

	.traintimetable {
		color: #797979;
	}

	.traintimetable b {
		color: #efefef;
	}

	.black {
		color: #efefef;
	}

	.coach {
		background-color: #1d1d1d;
		color: #efefef;
		box-shadow: inset 0px -10px #212121;
	}

	.platform-sector {
		background-color: #333;
		border: 1px solid #555;
		color: #fff;
	}

	.weatherwarning {
		background-color: #000;
		border: solid 1px #202020;
		box-shadow: inset 0px -20px 60px #300505;
		color: #fff;
	}

	.marked-stopover {
		background-color: #212614;
	}

	.trip-stop-name {
		color: #fff!important;
	}

	.trip-stop-time {
		color: #fff;
	}

	.trip-warnings {
		background-color: #222;
		color: #fff;
	}

	.trip-warning-item {
		border-bottom: solid #323232 1px;
	}

	.trip-warning-header, .yellowbutton {
		background-color: #c9cb3b;
	}

	.pill, .trip-warning-counter {
		color: #000;
		background-color: #c9cb3b;
	}

	.clear {
		background-color: none;
	}

	.gray {
		background-color: #222222;
	}


	.coloredSpace {
		background-color: #222222;
		color: #fff;
	}


	.multicolorspinner {
		filter: invert(1);
	}

	.cubesector {
		background-color: #222222!important;
	}

	.sectoricon {
		background-color: #00004d!important;
	}

	.connectionbadge {
		background-color: #101010;
		color: #fff;
	}

	.tinyinput {
		background-color: #191919;
		color: #fff;
	}

	.darkinput {
		background-color: #000;
	}

	.TRIPcontent {
		background-color: rgba(0,0,0,0.9);
	}

	.actiontableelement {
		color: #fff;
	}

	.markedstation {
		color: #fff !important;
	}

	.tab {
		background-color: #1d1d1f;
		color: #fff;
	
	}

	.trainTab {
		background-image: url('../icons/tab_train_white.svg');
	}
	
	.trackTab {
		background-image: url('../icons/tab_track_white.svg');
	}
	
	.tab button {
		border: 1px solid #1d1d1f;
		color: #fff;
	  }
	  
	  
	  .tab button.tabActive {
		background-color: #636366;
		border: 1px solid #1d1d1f;
		color: #fff;
	  }

	.tablinks {
		background-color: #1d1d1f;
		color: #fff;
	}
	
	.startStation {
		background-image: url(../icons/darkstartstation.svg);
	}
	
	.endStation {
		background-image: url(../icons/darkendstation.svg);
	}

	.tooltiptext {
		cursor: pointer;
		background-color: #2f2f2f;
		border-radius: 100px;
		color: #bbbbbb;
	}

	.actualpopup {
		background-color: #1b1b1b;
		border: 1px solid #5c5c5c8a;
	}

	.chip {
		background-color: #222222;
	}	

	.listitem {
		background-color: #222222;
	}

	.listimagecontainer img {
		height: 30px;
		filter: invert(1);
		-webkit-filter: invert(1);
	}

	.listimagecontainerred img {
		filter: unset;
		-webkit-filter: unset;
	}

	.listimagecontainergreen img {
		filter: unset;
		-webkit-filter: unset;
	}

	.listimagecontainerwine img {
		filter: unset;
		-webkit-filter: unset;
	}

	.listimagecontainernoinvert img {
		filter: unset;
		-webkit-filter: unset;
	}

	.listimagecontainerlightgreen {
		background-color: rgb(35, 123, 51);
	}

	.listimagecontainerlightred {
		background-color: rgb(186, 57, 57);
	}

	.listimagecontainerslate {
		background-color: rgb(55, 141, 141);
	}

	.listimagecontainerblue {
		background-color: rgb(19, 96, 174);
	}

	.listimagecontainerorange {
		background-color: rgb(202, 84, 30);
	}

	.listimagecontaineryellow {
		background-color: rgb(129, 112, 4);
	}

	.slider {
    	background-color:rgb(62, 62, 62);
	}

	.content {
    background-color: #0f0f0f;
    color: #fff !important;
	}

	.content a {
		color: #fff !important;
	}

	.serviceicon {
		filter: invert(1);
		-webkit-filter: invert(1);
	}

	.selectwallpaper {
		border-color: #222222;
	}

	.listitemtext  a, #contributors div a {
  	  color: #fff;
	}

	.weatherchip {
		color: #fff !important;
	}

	.weatherchip img {
		filter: invert(1);
		-webkit-filter: invert(1);
	}

	.IMPOSSIBLE {
		background-color: #ba3939 !important;
		color: #fff !important;
	}

	.QUICK_TRANSFER {
	background-color: #817004 !important;
	color: #fff !important;
	}

	.POSSIBLE {
		background-color: #237b33 !important;
		color: #fff !important;
	}

	.transfericon {
		filter: invert(1);
		-webkit-filter: invert(1);
	}

	.darkinvert {
		filter: invert(1);
		-webkit-filter: invert(1);
	}

	.popupholder {
        background-color: #4a4a4a6b;
    }

	.version-popup {
        background-color: #141514;
        border: solid 1px #434343;
        color: #eaeaea;
    }

	.gradienttext {
		background: linear-gradient(90deg, #5f7e9a, #71b798, #9aecdd);
		-webkit-background-clip: text;
   		background-clip: text;
	}

	.popupbutton {
		background-color: #fff;
		color: #000;
	}
}



